extends layout

block content
  h1 Manejador de proyectos
  p Proyecto primer parcial de Web Platforms
  ul
    li ALEJANDRO ISAAC BACA SIERRA (320769)
    li DANIEL LOPEZ VILLALOBOS (315120)
    li EDWIN ALFREDO PINEDO CHACON (329549)
    li JORGE AARON HERNANDEZ BUSTILLOS (329747)